* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}
body {
    background-color: #0B0F0D;
    color: white;
    font-family: "Inter", sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}
#nav-div {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 3.5vw;
    width: 100%;
    background-color: #000000;
    padding-left: 1vw;
    padding-right: 1vw;
}
#bttn-div1 {
    display: flex;
    align-items: center;
    gap: 3.5vw;
    list-style: none;
}
#bttn-div2 {
    display: flex;
    align-items: center;
    gap: 3.5vw;
    list-style: none;
}
#nav-logo {
    height: 3.5vw;
}
.navBttn {
    margin-top: 1vw;
    background-color: #000000;
    color: #53f52a;
    border: none;
    font-family: "oxanium", sans-serif;
    text-decoration: none;
}
.menuBttn {
    width: 25px;
    height: 25px;
    background-color: #000000;
    background-image: url(./imgs/menu.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: none;
}
.closeBttn {
    width: 25px;
    height: 25px;
    background-color: #000000;
    background-image: url(./imgs/close.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000;
    border: solid;
    border-color: #101816;
    border-width: 3px;
    width: 50vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 10vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 2000;
}
.sidebar.open {
    transform: translateX(0);
}
.title {
    font-family: "oxanium", sans-serif;
    color: #53f52a;
}
.secondTitle {
    color: #FFFFFF;
}
#inicio {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(./imgs/ccchaos.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin-bottom: 3vh;
}
.transitionText {
    width: 70vw;
    margin-bottom: 0.7vw;
    margin-left: 6.5vw;
}
#aboutText{
    padding: 0 7vw;
    margin: 3vw 0;
}
.textTitle {
    font-family: "oxanium", sans-serif;
    color: #53f52a;
    margin-bottom: 0.7vw;
}
p {
    margin-bottom: 0.7vw;
    margin-left: 0.7vw;
}
#finalImpactText {
    font-family: "oxanium", sans-serif;
    font-size: 0.95rem;
    font-weight: bold;
    color: #51ff00;
}
#footer {
    padding: 7vh;
    text-align: center;
    background-color: #101816;
    color: darkslategray;
    font-family: "oxanium", sans-serif;
}
@media (max-width: 768px) {
    #nav-div {
        height: 6.5vw;
        align-items: center; 
    }
    #nav-logo {
        height: 6vw;
    }
    .title {
        font-size: 1.5rem;
    }
    .secondTitle {
        font-size: 0.7rem;
    }
    .transitionText {
        margin-bottom: 1rem;
    }
    .textBlock {
        margin: 1.5vh 0;
    }
    .textTitle {
        margin: 1.5vw 0;
    }
    .aboutPr {
        margin: 1.05vw 0;
    }
}
@media (max-width: 480px) {
    #nav-div {
        width: 100vw;
        height: 10vw;
        align-items: center; 
    }
    #nav-logo {
        height: 10vw;
    }
    #bttn-div1{
        display: none;
    }
    .menuBttn {
        display: inline-block;
    }
    .sidebar{
        height: 100vh;
        width: 70vw;
    }
    #initTextArea {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .secondTitle {
        font-size: 0.65rem;
    }
}